<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="all_content">
    <div class="content_wrapper">
<h1> NEWSconnect.</h1>
<h2 class="slogan"> Stay informed with the latest headlines from top news portals, explore <br> diverse perspectives, and discover breaking stories all in one place.</h2>
<a href="/showallheadings" class="allheadings_button" >SHOW ALL HEADINGS</a>
    <input type="text" placeholder="&nbsp;Search news..">
    </div>
</div>

 {% block content %}{% endblock %}
</body>
</html>